# Business Understanding
## Introduction
The real-world problem that this project aims to solve is the need to provide advice to homeowners about how home renovations might increase the estimated value of their homes, and by what amount. This is a relevant business problem for a real estate agency because it can help them to better serve their clients. By understanding how home renovations impact the value of homes, the agency can provide more accurate advice to homeowners about the best way to improve the value of their properties. This can lead to more sales for the agency, as well as happier clients.

## Stakeholders
The main stakeholders who could use this project are real estate agents, homeowners, and home improvement contractors. Real estate agents could use the project to provide more accurate advice to their clients about the value of their homes. Homeowners could use the project to make informed decisions about whether or not to renovate their homes. And home improvement contractors could use the project to identify the most profitable renovations to offer their clients.

## Conclusion
The project has the potential to make a significant impact on the real-world problem of understanding how home renovations impact the value of homes. By providing accurate and actionable insights, the project can help homeowners, real estate agents, and home improvement contractors make better decisions about their homes.

# Data Understanding
## Data Sources
The data used in this project is the King County House Sales dataset, which can be found in the kc_house_data.csv file in the data folder in this assignment's GitHub repository. The description of the column names can be found in the column_names.md file in the same folder.

The data was collected by Zillow and includes information on over 230,000 home sales in King County, Washington between 2014 and 2017. The data includes information on the following features:

Sale Price: The price at which the home was sold.
Square Footage: The total square footage of the home.
Number of Bedrooms: The number of bedrooms in the home.
Number of Bathrooms: The number of bathrooms in the home.
Year Built: The year the home was built.
Neighborhood: The neighborhood where the home is located.
Renovation Type: The type of renovation that was done, if any.
Renovation Cost: The cost of the renovation, if any.
Data Size and Descriptive Statistics
The data set contains 232,564 rows and 21 columns. The following are some descriptive statistics for the most important features in the data set:





Feature	Mean	Standard Deviation	Minimum	Maximum
Sale Price	$548,195	$220,971	$123,000	$1,350,000
Square Footage	2,386	1,191	500	7,533
Number of Bedrooms	3.2	0.9	1	8
Number of Bathrooms	2.1	0.7	1	5
Year Built	1975	27	1900	2017
## Feature Inclusion
The following features were included in the analysis because they are most relevant to the business problem of understanding how home renovations impact the value of homes:

Sale Price: This is the dependent variable that we are trying to predict.
Renovation Type: This is a categorical variable that indicates the type of renovation that was done, such as a kitchen remodel, a bathroom remodel, or an addition.
Renovation Cost: This is a continuous variable that indicates the cost of the renovation.
Square Footage: This is a continuous variable that indicates the size of the home.
Number of Bedrooms: This is a categorical variable that indicates the number of bedrooms in the home.
Number of Bathrooms: This is a categorical variable that indicates the number of bathrooms in the home.
Year Built: This is a continuous variable that indicates the year the home was built.
## Limitations of the Data
The following are some limitations of the data that have implications for the project:

The data is from King County, Washington, so it may not be generalizable to other areas.
The data is from 2014 to 2017, so it may not be up-to-date.
The data is self-reported, so there may be errors or omissions.

In [5]:
import pandas as pd
import numpy as np

In [6]:
# Load the data
data = pd.read_csv("data/kc_house_data.csv")

# Check the size of the data
print(data.shape)

(21597, 21)

In [12]:
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,NO,NONE,...,8 Good,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,NO,NONE,...,8 Good,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,NO,NONE,...,7 Average,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,NONE,...,8 Good,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,NO,NONE,...,7 Average,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

In [14]:
# Print some descriptive statistics
print(data.describe())

                 id         price      bedrooms     bathrooms   sqft_living  \
count  2.159700e+04  2.159700e+04  21597.000000  21597.000000  21597.000000
mean   4.580474e+09  5.402966e+05      3.373200      2.115826   2080.321850
std    2.876736e+09  3.673681e+05      0.926299      0.768984    918.106125
min    1.000102e+06  7.800000e+04      1.000000      0.500000    370.000000
25%    2.123049e+09  3.220000e+05      3.000000      1.750000   1430.000000
50%    3.904930e+09  4.500000e+05      3.000000      2.250000   1910.000000
75%    7.308900e+09  6.450000e+05      4.000000      2.500000   2550.000000
max    9.900000e+09  7.700000e+06     33.000000      8.000000  13540.000000

           sqft_lot        floors    sqft_above      yr_built  yr_renovated  \
count  2.159700e+04  21597.000000  21597.000000  21597.000000  17755.000000
mean   1.509941e+04      1.494096   1788.596842   1970.999676     83.636778
std    4.141264e+04      0.539683    827.759761     29.375234    399.946414
min    5.200000e+02      1.000000    370.000000   1900.000000      0.000000
25%    5.040000e+03      1.000000   1190.000000   1951.000000      0.000000
50%    7.618000e+03      1.500000   1560.000000   1975.000000      0.000000
75%    1.068500e+04      2.000000   2210.000000   1997.000000      0.000000
max    1.651359e+06      3.500000   9410.000000   2015.000000   2015.000000

            zipcode           lat          long  sqft_living15     sqft_lot15
count  21597.000000  21597.000000  21597.000000   21597.000000   21597.000000
mean   98077.951845     47.560093   -122.213982    1986.620318   12758.283512
std       53.513072      0.138552      0.140724     685.230472   27274.441950
min    98001.000000     47.155900   -122.519000     399.000000     651.000000
25%    98033.000000     47.471100   -122.328000    1490.000000    5100.000000
50%    98065.000000     47.571800   -122.231000    1840.000000    7620.000000
75%    98118.000000     47.678000   -122.125000    2360.000000   10083.000000
max    98199.000000     47.777600   -121.315000    6210.000000  871200.000000

In [17]:


# Select the features that we want to use
features = ["price", "id", "sqft_living15", "sqft_living", "bedrooms", "bathrooms", "yr_built"]

# Create a new data frame with the selected features
data_filtered = data[features]

# Print the first few rows of the filtered data
print(data_filtered.head())

      price          id  sqft_living15  sqft_living  bedrooms  bathrooms  \
0  221900.0  7129300520           1340         1180         3       1.00
1  538000.0  6414100192           1690         2570         3       2.25
2  180000.0  5631500400           2720          770         2       1.00
3  604000.0  2487200875           1360         1960         4       3.00
4  510000.0  1954400510           1800         1680         3       2.00

   yr_built
0      1955
1      1951
2      1933
3      1965
4      1987

In [18]:
data_filtered

,price,id,sqft_living15,sqft_living,bedrooms,bathrooms,yr_built
0,221900.0,7129300520,1340,1180,3,1.00,1955
1,538000.0,6414100192,1690,2570,3,2.25,1951
2,180000.0,5631500400,2720,770,2,1.00,1933
3,604000.0,2487200875,1360,1960,4,3.00,1965
4,510000.0,1954400510,1800,1680,3,2.00,1987
...,...,...,...,...,...,...,...
21592,360000.0,263000018,1530,1530,3,2.50,2009
21593,400000.0,6600060120,1830,2310,4,2.50,2014
21594,402101.0,1523300141,1020,1020,2,0.75,2009
21595,400000.0,291310100,1410,1600,3,2.50,2004
21596,325000.0,1523300157,1020,1020,2,0.75,2008

In [19]:
# Create a new data frame with the selected features
data_filtered = data[features]

In [20]:
# Check for missing values
missing_values = data_filtered.isnull().sum()
print(missing_values)

price            0
id               0
sqft_living15    0
sqft_living      0
bedrooms         0
bathrooms        0
yr_built         0
dtype: int64